.cont {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   width: 1440px;
   padding: 20px;
}

.burger {
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    gap: 10px;
}