.cont {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 400px;
    height: 550px;
    border-radius: 10%;
}